global
    daemon
    maxconn 1024

defaults
    mode http
    option forwardfor
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend netservices_http
    bind *:80
    http-request set-header X-Forwarded-Proto http
    acl is_mgmt path_beg -i /mgmt/
    acl is_haproxy_stats path_beg -i /haproxy/stats
    use_backend mgmt_api if is_mgmt
    use_backend haproxy_stats if is_haproxy_stats
    default_backend home_assistant

backend home_assistant
    server local_ha homeassistant:8123 check

backend haproxy_stats
    stats enable
    stats uri /haproxy/stats
    stats refresh 10s

backend mgmt_api
    server local_mgmt 127.0.0.1:8099 check
